*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
}

/* FONTS */
h1{
  color: #fff;
  font-size: 2rem;
  font-family: "Poppins", "sans-seriff";
  font-weight: 300;
}

h3{
  color: #000;
  margin-top: 5rem;
  font-size: 1.3rem;
  border:none;

  font-family: "Poppins", "sans-seriff";
  font-weight: 500;


}

/* NAV BAR */
nav{
  background-color: #DA3927;
  height:100px;
  width:100%;

}

.navbar__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__container{
  display: inline-block;

}

/* MOBILE MENU */
#mobile-menu{
opacity: 0;
display: flex;
flex-direction: column;



}

#mobile--menu:hover{
  cursor: pointer;
}

.bars{

  display: inline-block;

  width: 30px;
  height: 5px;
  margin-top: 5px;

  background-color: white;
}



/* MOBILE MENU */

.logo__container{
  height: 100px;
  width:142px;
}

.nav__links--container{
margin-right: 2rem;
display: flex;


}

.nav__links{
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  font-size: 1.5rem;
}

#nobel-prize-logo{
  height: 99px;
  width:142px;
}

/* HERO SECTION */

.hero{
    margin: 4rem;
}

.hero__container{
  display: flex;
  flex-direction: row;


}

.hero__image--container{
  width:80%;
}

#hero-img{
  width: 100%;
  height:auto;
}

.hero__text--container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
  width: 70%;

}

.hero__text--container p{
  font-family: "Kite One", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight:400;

}

#eco-friendly{
  width: 78px;
  height:75px;
}

/* ABOUT SECTION */

.about{
  width:100%;
margin-top: 7rem;

}


.about__container{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5.5rem;

}

.about__img--container{

  height: 600px;
    width: 300px;
  background-image: url("images/wordpress-Wrestler2.jpg");
  background-size: contain;
  background-repeat: no-repeat;


}



.about__text--container{
  margin: 2rem;

  width: 50%;
  height: 100%;
}

.about__text--container p{
  font-size: 1rem;
  font-family: "Poppins",  sans-serif;
  line-height: 2rem;

}

.about__text--container h2{
  font-size: 2.5rem;
  font-family: "Poppins",  sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 2rem;
}


/* TIMELINE */
.timeline{
  margin-top: 10rem;

}

.timeline__container{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
  margin: 5rem;
}

.timeline__text--container{
    width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timeline__text--container h2{
  font-size: 2.5rem;
  font-family: "Poppins",  sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 2rem;
}

.timeline__text--container li{
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  padding: 1REM;
}

.timeline__text--container p{
  font-style: italic;
  margin-top: 5rem;
  font-size: 1rem;
  font-family: "Poppins",  sans-serif;

}


.timeline__container a{

color: blue;
}


@media screen and (max-width: 991px) {
/* start of large tablet styles */

nav{
  position: fixed;
  top: 0px;
  z-index: 9999;
}


.bars:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bars:nth-child(2){
  opacity: 0;
    transition: 0.3s ease-in-out;

}

#mobile-menu.is-active .bars:nth-child(1){
  transform: translateY(10px)  rotate(45deg);
  transition: 0.3s ease;
}

#mobile-menu.is-active .bars:nth-child(3){
  transform: translateY(-10px)  rotate(-45deg);
    transition: 0.3s ease;
}

.nav__links--container a{
  width:100%;
  text-align: center;
}

.nav__links--container a:hover{
  background-color: blue;
  opacity: 0.5;
  color: white;
  transition: all 0.35s ease;
}

#mobile-menu{
  opacity: 1;
    transform: translate(-150%,-10%);

}
#mobile-menu:hover{
  cursor: pointer;
}

.nav__links--container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #E5E5E5;
  opacity: 0.9;

  top: -1000px;
  width: 100%;
transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.nav__links--container.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #E5E5E5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;


  top: 20%;
  width: 100%;

  justify-content: center;
  align-items: center;
  height: 80vh;
}

.nav__links--container a{
  color: #DA3927;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about__img--container{
  width: 350px;
  height: 450px;
  background-image: url("images/wordpress-Wrestler2.jpg");
  background-size: cover;

}
.about__text--container h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about__text--container p{
  font-size: 1rem;
  line-height: 1.7rem;
}

.timeline__text--container h2{
  font-size: 2rem;
  font-family: "Poppins",  sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 2rem;
}
.timeline__text--container{
  width: 70%;
}
h1{
  font-size: 1.8rem;
}
.hero{
  margin-top:160px;
}
}

@media screen and (max-width: 860px) {
/* start of medium tablet styles */
.nav__links{
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
}
.hero__text--container p{
  font-family: "Kite One", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight:400;

}
.about__text--container p{
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.about__text--container h2{
font-size: 1.5rem;

}
.timeline__text--container{
  width: 80%;
}
}

@media screen and (max-width: 650px) {
/* start of medium tablet styles */
.nav__links{
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
}
.hero__container{

  flex-direction: column;
  justify-content: center;

  align-items: center;

}



.hero__text--container p {
  font-family: "Kite One", sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;


  font-weight:400;
}
.about__text--container p{
  font-size: 0rem;
  line-height: 1.4rem;
}
.about__text--container h2{
font-size: 1.5rem;

}

#eco-friendly{
  width: 70px;
  height:60px;
}
.about__text--container p{
  font-size: 0.8rem;
  line-height: 1.1rem;

}
.timeline__text--container{
  width: 100%;

}
h1{
  font-size: 1.5rem;
  margin-right: 100px;
}
.about__container{

  margin: 0 auto;
  align-items: center;

}
.about__img--container{
  width: 200px;
  height: 400px;
  background-image: url("images/wordpress-Wrestler2.jpg");
  background-size: contain;
  background-repeat: no-repeat;

}

.timeline__text--container h2 {
  font-size: 1.3rem;
}
.timeline__text--container li {
  font-size: 0.9rem;
}

h3{
  font-size: 1rem;
}
.timeline__container{

margin: 3rem;
}


}



@media screen and (max-width: 500px) {
/* start of phone styles */


h1{
  font-size: 1.3rem;
  text-align: center;
}
.hero__image--container{
width: 100%;

margin-bottom: 0;
padding-bottom: 0;
}
.hero{

}

.about__text--container {
width: 80%;

}

  .about__text--container p{
    font-size: 1rem;
    line-height: 1.2rem;

  }

  .about__text--container h2{
  font-size: 1rem;
  margin-top: 1rem;

  }
  .about__img--container{
    width: 300px;
    height: 400px;
    position: relative;
    top: 30px;
    background-image: url("images/wordpress-Wrestler2.jpg");
    background-size: cover;

  }
  .about__container{
    width: 100%;
    flex-direction:column;
  }
  .timeline__text--container h2{
font-size: 1.5rem;
  }
  .timeline__text--container LI{
font-size: 0.8rem;
  }
  .timeline__text--container p{
  font-size: 0.8rem;
  }
h3{
font-size: 1rem;
  }


}

@media screen and (max-width: 360px) {
/* start of phone styles */


h1{
  font-size: 1rem;
  text-align: center;
width:70%;
margin-top: 1rem;;

}

.logo__container{
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
margin-top: 0.6rem;
}

#nobel-prize-logo{
  width: 100px;
  height: 80px;

}
#mobile-menu{
  transform: translate(-100%,10%);
}

.hero{
border: 1px solid blue;
margin-left: 0.5rem;
margin-right: 0.5rem;
}

.hero__text--container p{
  font-size: 1rem;
}

.hero__text--container {
width: 90%;
}

.about__text--container p{
font-size: 0.7rem; 
}

}
